body{
    width: 1366px;
    height: 599px;
}
.main{
    padding-top: 200px;
}
.login-main{
    width: 308px;
    margin: 0 auto;
    border: #0f0f0f;
}
label{
    width: 100%;
}
.label-link{
    float: right;
}
